config:
  node:
    endpoint: "wss://registrar-test-0.w3f.tech"
  registrar:
    index: 0

secret:
  registrarPasswordValue: {{ env "REGISTRAR_TEST_PASS" }}
  registrarWalletValue: |
    {{ env "REGISTRAR_TEST_WALLET" }}    