environment: production

image:
  repo: web3f/polkadot-registrar-watcher
  tag: v0.2.13

config:
  node:
    enabled: true
    endpoint: "wss://registrar-test-0.w3f.tech"
  port: 3000
  portWs: 3001
  logLevel: info
  registrar:
    index: 0
    keystore:
      walletFilePath: '/app/keystore/wallet/wallet.json'
      passwordFilePath: '/app/keystore/password/password'
  
secret:
  registrarPasswordValue: '}b#%q.~0QAWog'
  registrarWalletValue: |
    {"address":"5EZj5n2epr2J1sVe2PhNJhJJ8JHZ8jdcQ7iyrbzkpguCDQxb","encoded":"ZOu66lvbZQ1OilENNSxTNiLmcjUeCxnvD7G3NSP2ClYAgAAAAQAAAAgAAAC2nWTkigv/aP7FgS8GM4v7szpTan7+DSfo6VJRqyDty6HWNbWo+3Zr2i1zC8l/gNTHUEm5Iz+lZiLo9GEk17yVDDLLI1Dn5N+oSCrm1wTsm2r4zxem5v9ZU/vdsNqXyDakvAELagtWFKwWxQaROnHn74Wzw9Uu73TCnQUUu+kRFnXS4DXnJF0nskQrxqPYwDO4xvBZtcWppIS6of94","encoding":{"content":["pkcs8","sr25519"],"type":["scrypt","xsalsa20-poly1305"],"version":"3"},"meta":{"name":"trash test code","whenCreated":1600669656080}}
    
resources: 
  requests:
    cpu: "300m"
    memory: "500Mi"
  limits:
    cpu: "500m"
    memory: "700Mi" 

nodeRestart:
  enabled: false
  schedule: "0 12 * * *"    

restartImage:
  repo: web3f/pod-restarter
  tag: v0.1.1