config:
  node:
    endpoint: "ws://rpc-node-base-services-external-websockets:9944"
  registrar:
    index: 100

secret:
  registrarPasswordValue: {{ env "REGISTRAR_KUSAMA_PASS" }}
  registrarWalletValue: |
    {{ env "REGISTRAR_KUSAMA_WALLET" }}    
